<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/repositoryShared.css">
    <link rel="stylesheet" href="css/cars.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="header">
        <div id="header-icon">
            <img id="menu-icon" src="Images/kailuaLogo.png" onclick="window.location.href='/'"/>
        </div>
        <div id="header-buttons-container">
            <table id="header-buttons">
                <th onclick="window.location.href='/cars'">Cars</th>
                <th onclick="window.location.href='/rentalContract'">Rentals</th>
                <th onclick="window.location.href='/customer'">Customers</th>
                <th onclick="window.location.href='/feedback'">Report a bug</th>
            </table>
        </div>
    </div>
    <div class="body-container">
        <div class="table-title">
            <h1>Cars in repository</h1>
        </div>
        <div class="table-container">
            <div class="menu-table">
                <table>
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Registration</th>
                            <th>Type</th>
                            <th>Image</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="car: ${cars}">
                            <td th:text="${car.brand}"></td>
                            <td th:text="${car.model}"></td>
                            <td th:text="${car.registrationNumber}"></td>
                            <td th:text="${car.carType}"></td>
                            <td><span class="material-symbols-outlined">help</span></td>
                            <td class="dual-link-data"><a th:href="@{'/carDetail/'+${car.registrationNumber}}">Details</a>
                                <a th:href="@{'/deleteCar/'+${car.registrationNumber}}">Remove</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="table-button-container">
                <div id="modalBtn" class="menu-button table-button">
                    <p>Add new car</p>
                </div>
                <div class="menu-button table-button">
                    <p>Export .csv</p>
                </div>
            </div>

            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                         <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <iframe id="create-car-frame" src="createCar" frameborder="0"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("modalBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>