body{
    margin-top: 0;
    margin-left: 0;

    font-family: 'Roboto', sans-serif;
}
.menu-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    background : linear-gradient(45deg, rgb(117, 224, 192), #5db883);
    border-radius: 10px;

    cursor: pointer;
    transition: 0.3s;
    padding: 20px;
    color: white;
}

.menu-button:hover {
    background: #79E8A7;
}

.button-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.header {
    width: 100%;
    height: 10vh;

    border-bottom: 3px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-icon {
    margin-left: 2vw;

    display: flex;
    align-items: center;
}

#header-buttons-container {
    margin-right: 3%;

    height: fit-content;

    display: flex;
    align-content: center;
}

#header-buttons th{
    border-right: 2px solid gray;
    padding-right: 2vw;
    padding-left: 2vw;

    font-size: larger;

    transition: ease 250ms;
}

#header-buttons th:hover {
    color: blue;
    cursor: pointer;
}

#header-buttons th:last-of-type {
    border-right: none;
}
