body{
    margin-top: 0;
    margin-left: 0;

    font-family: 'Roboto', sans-serif;
}


.header {
    width: 100vw;
    height: 10vh;

    border-bottom: 3px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-icon {
    margin-left: 2vw;

    display: flex;
    align-items: center;
}

#header-buttons-container {
    margin-right: 3%;

    height: fit-content;

    display: flex;
    align-content: center;
}

#header-buttons th{
    border-right: 2px solid gray;
    padding-right: 2vw;
    padding-left: 2vw;

    font-size: larger;

    transition: ease 250ms;
}

#header-buttons th:hover {
    color: blue;
    cursor: pointer;
}

#header-buttons th:last-of-type {
    border-right: none;
}

#title {
    margin-top: 10%;
    text-align: center;
    font-size: 2rem;
}

#action-help-text-container {
    margin-top: 3%;

    display: flex;
    justify-content: center;
}

#action-help-text {
    display: inline;
    text-align: center;

    font-size: larger;

    border-bottom: 2px solid lightgray;
}

.menu-button {
    background: lightgray;
    border-radius: 10px;
    border: 2px solid black;

    font-size: larger;
    font-weight: bolder;

    cursor: pointer;
    transition: ease 250ms;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.menu-button:hover {
    background: gray;
}
