<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/forside.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Forside</title>

</head>
<body>
    <div class="header">
        <div id="header-icon">
            <img src="Images/kailuaLogo.png"/>
        </div>
        <div id="header-buttons-container">
            <table id="header-buttons">
                <th onclick="window.location.href='/cars'">Cars</th>
                <th onclick="window.location.href='/rentalContract'">Rentals</th>
                <th onclick="window.location.href='/customer'">Customers</th>
                <th onclick="window.location.href='/feedback'">Report a bug</th>
            </table>
        </div>
    </div>
    <div id="title">
        <h1>Kailua Car Rental Administration System</h1>
    </div>
    <div id="action-help-text-container">
        <div id="action-help-text">
            <p>Select an option below to proceed</p>
        </div>
    </div>  
    <div id="button-container">
        <div id="main-button" class="menu-button" onclick="window.location.href='/car'">
            <p>View cars in repository</p>
        </div>
        <div id="main-button" class="menu-button" onclick="window.location.href='/customer'">
            <p>Active Rentals</p>
        </div>
        <div id="main-button" class="menu-button" onclick="window.location.href='/rentalContract'">
            <p>Customer administration</p>
        </div>
    </div>
</body>
</html>