<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Forside.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Forside</title>

</head>
<body>
<div class="button-container">
    <div class="menu-button" onclick="window.location.href='/car'">
        <span class="material-icons" style="font-size: 6rem">directions_car</span>
        <p style="margin-top: 0px; font-size: 21px;">Cars</p>
    </div>
    <div class="menu-button" onclick="window.location.href='/customer'">
        <span class="material-icons" style="font-size: 6rem">person</span>
        <p style="margin-top: 0px; font-size: 21px;">Customers</p>
    </div>
    <div class="menu-button" onclick="window.location.href='/organisation'">
        <span class="material-icons" style="font-size: 6rem">car_rental</span>
        <p style="margin-top: 0px; font-size: 21px;">RentalContracts</p>
    </div>
</div>
</body>
</html>